.bottombar{
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    /* height: 10px; */
    display: flex;
    justify-content: center;
    /* border: inset black 2px; */
    backdrop-filter: blur(10px);
    bottom: 0;
}

.linkedInIcon{
    height: 46px;
    -webkit-filter: hue-rotate(90deg);
}

.githubIcon{
    height: 40px;
    filter: hue-rotate(240deg) saturate(1000%);
}

img{

}