.rightbar{
    position: fixed;
    bottom: 120px;
    right: -80px;
    rotate: 90deg;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.email{
    color: gray;
    font-family: 'AldoTheApache';
    letter-spacing: 4px;
}

.stylebar{
    width: 100px;
    border: 1px solid darkred;
    height: 0px;
    margin-left: 20px;

}